<div class="select-container">
    <span class="select-title">{{name}}</span>
    <select class="select">
        {{#each options}}
        <option class="date-option" {{#if this.selected}}selected{{/if}}>{{this.data}}</option>
        {{/each}}
    </select>
</div>
