.select {
    margin-top: 2.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999;
    font-size: 1.2rem;
    padding: 0.5rem 1.4rem;
    background-color: var(--color-card-background);
    border-radius: 0.9rem;
}

.select-title {
    margin-right: 10%;
}

@media (min-device-width: 320px) and (max-device-width: 568px) {
    .select-container {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 10px;
        flex-direction: column;
    }
    
    .select {
        margin-top: 0;
    }
}
