<div class="carousel">
    <h2 class="carousel__name">
        {{name}}
    </h2>
    <div id="{{id}}" class="carousel__cards">
    <div class="left-button"></div>
    {{!-- <div id="{{id}}" class="carousel__cards"> --}}
        <div class="carousel__container"></div>
    {{!-- </div> --}}
    <div class="right-button"></div>
    </div>
</div>
