.carousel {
    margin: 1rem 3rem 1rem 3rem;

    display: flex;
    justify-content: center;
}

.carousel__cards {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;

}

.carousel__name {
    color: var(--color-headline);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.carousel__button {
    width: 3rem;
    height: 3rem;
    background-color: var(--color-button-text);
}

.carousel__container {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-top: 1rem;
    max-width: 80vw;
    overflow-x: scroll;
}

.carousel__container::-webkit-scrollbar {
    display: none;
  }
