#order-page {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    align-items: center;
    min-height: 100vh;
}

.order-info-container__payment-and-user {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.order-info-container {
    display: grid;
    gap: 2rem;
}

.white-background-color {
    background-color: var(--color-card-background);
}

@media (min-device-width: 320px) and (max-device-width: 568px) {

    #order-page {
        padding: 30px 10px 80px 10px;
    }

    .order-info-container__payment-and-user {
        display: flex;
        flex-direction: column;
    }

}
