<div id="order-page">
    <div class="page-title">Оформление заказа</div>
    <div class="order-container">
        <div class="order-info-container">
            <div class="order-info-container__payment-and-user">

            </div>
        </div>
    </div>
</div>
