
<form class="address-form" id="address-form" method="post" novalidate>
    <div class="address-form__city"></div>
    <div class="address-form__street"></div>
    <div class="address-form__house"></div>
    <div class="address-form__flat"></div>
   
</form>
