.address-form {
    display: grid;
    grid-template-columns: 11.6rem auto 11.6rem;
    grid-template-rows: repeat(4, 3.5rem);
    grid-template-areas:
    "city city city"
    "street street street"
    "house . flat"
    "submit submit submit";
    width: 26.3rem;
    row-gap: 2.6rem;
    margin-top: 1.6rem;
}

.address-form__city {
    grid-area: city;
}

.address-form__street {
    grid-area: street;
}

.address-form__house {
    grid-area: house;
}

.address-form__flat {
    grid-area: flat;
}

.address-form__submit {
    grid-area: submit;
}
