.img-edit-form {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    width: 26.3rem;
    margin-top: 1.6rem;
    align-items: center;
}

.upload__img {
   display: inline-block;
   width: 16rem;
   height: auto;
}

.upload {
    display: flex;
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 50%;
    justify-content: center;
}

.img-edit-form__submit {
    width: 100%;
}
