.img-edit-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 316px;
    margin-top: 20px;
    align-items: center;
}

.upload__img {
   display: inline-block;
   width: 200px;
   height: auto;
}

.upload {
    display: flex;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    justify-content: center;
}

.img-edit-form__submit {
    width: 100%;
}