<form class="img-edit-form" id="img-edit-form" method="post" novalidate>
    <div class="upload"><img src="https://www.zuzu-market.ru/static/images/{{imgSrc}}" id="upload" class="upload__img"></div>
    <input type="file" multiple="false" accept="image/*" id="img-edit">
</form>
