<div id="csat-form">
    <div class="csat-form__top">
        <span class="csat-form__text">{{name}}</span>
        <div class="csat-form__close-place"></div>
    </div>
    <div class="csat-form__input-place"></div>
    <div class="csat-form__submit-place"></div>
</div>