#csat-form {
    // padding: 20px;s
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: start;
    align-items: start;
    padding-top: 30px;
    padding-left: 80px;
    grid-template-rows: 1fr 1fr 1fr;
}

.csat-form__input-place {
    display: flex;
    justify-content: center;
}

.csat-form__text {
    font-size: 24px;
    font-weight: bold;
}

.csat-form__submit {
    width: 100%;
}

.csat-form__close {
    height: 20px;
    width: 10px;
    background: inherit !important;
    background-color: inherit;
    margin-left: 20px;
}

.fake-button {
    background: inherit;
}

.csat-form__top {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}