.order-info__products {
    /* width: 100%; */
}

.order-info__text {
    /* font-size: 16px; */
    font-size: 1.3rem;
}

.order-info__row-container {
    display: grid;
    /* grid-template-columns: 100px auto; */
    grid-template-columns: 8.3rem auto;
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
    margin-top: 0.8rem;
}

.order-product__text {
    font-size: 1.2rem;
}