.order-info__text {
    font-size: 1.3rem;
}

.order-info__row-container {
    display: grid;
    grid-template-columns: 8.3rem auto;
    margin-top: 0.8rem;
}

.order-product__text {
    font-size: 1.2rem;
}
