<div class="order-info__products not-white-color" id="{{id}}">
    <div class="order-info__row-container">
            <span class="order-info__text">Заказ</span>
            <span class="order-info__text">{{uuid}}</span>
    </div>
    <div class="order-info__row-container">
        <span class="order-info__text">Адрес</span>
        <div class="order-info__address order-info__text">{{address}}</div>
    </div>
    <div class="order-info__products-container"></div>
</div>
