<div class="profile-menu-container">
    <div class="profile-menu">
        <div class="profile-menu__elem" id="profile-menu-elem">Личный кабинет</div>
        <div class="profile-menu__elem" id="notifications-menu-elem">Уведомления</div>
        <div class="profile-menu__divider"></div>
        <div class="profile-menu__elem" id="logout-menu-elem">Выйти</div>
    </div>
</div>  
