.header {
    display: flex;
    height: 70px;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    background-color: var(--color-background-auth);
}

.header__button_size_catalog {
    width: 120px;
    gap: 10px;
}
