#container-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: fit-content;
    justify-content: center;
    background-color: var(--color-background-header);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 2rem 0 2rem;
    box-shadow: 0 0.1rem 0.4rem var(--color-stroke);
    z-index: 1;
}

.header {
    display: grid;
    grid-template-columns:  9rem 12rem minmax(13rem, 50rem) 30rem;
    align-items: center;
    height: 6rem;
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
    padding: 0 2rem 0 2rem;
}

.header__icons-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.2rem;
}

.header__link_size_logo {
    display: flex;
}

.header__button_size_catalog {
    gap: 10px;
    gap: 1rem;
}

.logo-img {
    width: 8rem;
}

.fake-button {
    background-color: inherit;
    height: 100%;
}

.dark-text {
    color: var(--color-headline);
}

@media (min-device-width: 320px) and (max-device-width: 568px) {

    #container-header {
       padding: 0;
    }

    .header__icons-container {
        position: fixed;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        gap: 0.2rem;
        bottom: 0;
        left: 0;
        width: 100vw;
        background-color: var(--color-background-header);
        height: 9vh;
        box-shadow: 0 0.1rem 0.4rem var(--color-stroke);
        box-sizing: border-box;
    }

    .header {
        display: grid;
        grid-template-columns:8rem 10.5rem minmax(13rem, 29rem);
        align-items: center;
        gap: 2rem;
        width: 100%;
        padding: 0 8px;
        justify-content: center;
    }

    .icon__text {
        font-size: 2rem;
    }

    .serch-form__input .input__field {
        height: 3rem;
    }


    .link_icon .button__text {
        font-size: 1rem;
    }
    
}