.container-header {
    display: flex;
    height: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-auth);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1400px;
    gap: 32px;
}

.header__button_size_catalog {
    width: 132px;
    gap: 10px;
}

.fake-button {
    background-color: inherit;
}

.dark-text {
    color: var(--color-headline);
}
