.input__field {
    /* background: var(--color-background); */
    background: var(--color-background-header);
    /* border-radius: 24px; */
    border-radius: 2rem;

    /* border: 1px solid #babfff; */
    border: 0.1rem solid #babfff;
    /* height: 42px; */
    height: 3rem;
    /* padding-left: 16px; */
    padding-left: 1.6rem;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.2rem;
}

.input__error {
    /* padding-left: 12px; */
    padding-left: 1rem;
    padding-top: 0.5rem;
    /* padding-top: 6px; */
    /* font-size: 14px; */
    font-size: 1.1rem;
    color: var(--color-incorrect);
}
