<form class="signup-form" id="signup-form" method="post" name="{{formName}}" novalidate>
    <span class="signup-form__name">
        Регистрация
    </span>
    <div class="signup-form__login"></div>
    <div class="signup-form__phone"></div>
    <div class="signup-form__password"></div>
    <div class="signup-form__repeat-password"></div>
    <div class="input__error signup-form__error" id="signup-form-error"></div>
</form>
