<form class="signup-form" id="signup-form" method="post" name="{{formName}}" novalidate>
    <span class="signup-form__name">
        Регистрация
    </span>
    {{#if errorId}}<div class="input__error" id="{{errorId}}"></div>{{/if}}
</form>
