.number-edit-form {
    display: flex;
    flex-direction: column;
    /* gap: 32px; */
    gap: 2.5rem;
    /* width: 316px; */
    width: 26rem;
    /* margin-top: 20px; */
    margin-top: 1.6rem;
}
