<div class="order-results">
    <div class="order-results__sub-result-container">
        <div class="order-results__sub-result">
            <span class="order-results__sub-result-text" id="products-count">Товары(2)</span>
            <span class="order-results__sub-result-text bold-text" id="subprice">379 980</span>
        </div>
        <div class="order-results__sub-result">
            <span class="order-results__sub-result-text">Доставка</span>
            <span class="order-results__sub-result-text">Бесплатно</span>
        </div>
    </div>
    <div class="order-results__result">
        <div class="order-results__result-text">Итого</div>
        <div class="order-results__result-text bold-text" id="result-price">379 980</div>
    </div>
</div>
