<form class="login-form" id="login-form" method="post" name="{{formName}}" novalidate>
    <span class="login-form__name">
        Авторизация
    </span>
    <div class="input__error" id="login-form-error"></div>
</form>
