<form class="login-form" id="login-form" method="post" name="{{formName}}" novalidate>
    <span class="login-form__name">
        Авторизация
    </span>
    <div class="login-form__login"></div>
    <div class="login-form__password"></div>
    <div class="input__error login-form__error" id="login-form-error"></div>
</form>
