#static-page {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 36px;
}

.static {
    display: flex;
    flex-direction: column;
}

.static__row {
    display: flex;
    flex-direction: row;
    gap: 25rem;
}
