#static-page {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 2rem;
}

.title {
    font-size: 36px;
}

.static {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    padding-top: 2rem;
}

.static__row {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
