.reviews-summary {
    width: 100%;
    // margin-top: 2rem;
    font-size: 1.5rem;
    display: grid;
    gap: 2rem
}

.reviews-summary__head {
    display: flex;
    justify-content: space-between;
    // border-bottom: 1px solid var(--color-stroke);
}

.reviews-summary__button-place {
    display: grid;
}

.reviews-summary__login-link:hover {
    color: var(--color-incorrect);
}

.reviews-summary__login-link {
    text-align: end;
}

.reviews-summary__body {
    display: grid;
    gap: 1rem;
}
