<div class="reviews-summary">
    <div class="reviews-summary__button-place"></div>
    <div class="reviews-summary__head">
        <span class="reviews-summary__count"></span>
        <span class="reviews-summary__rate"></span>
    </div>
    <div class="reviews-summary__body"></div>
</div>
