<div class="promocode">
    <span class="order-info__name promocode__title">Промокод</span>
    <div class="promocode__input"></div>
    <div class="promocode__status"></div>
    <div class="promocode__button"></div>
</div>
