.order-info__products {
    /* width: 760px; */
}

.not-white-color {
    background-color: var(--color-background);
}

.order-info__products {
    /* background-color: var(--color-background); */
    border-radius: 20px;
    padding: 26px 30px 30px 30px;
    /* margin-right: 30px; */
    /* margin-bottom: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order-info__products-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.order-product__img {
    max-height: 60px;
    max-width: 60px;
    align-self: center;
}

.order-product__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 32px;
    height: 24px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    background-color: var(--color-card-background);
    border-radius: 16px;
}

.order-product {
    border: 1px solid var(--color-stroke);
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 4px;
    min-width: 72px;
    height: 72px;
    padding: 4px;
    margin-top: 10px;
    background-color: var(--color-background-header);
    font-size: 1.6rem;
}
