<div class="order-info {{class}}" id="{{id}}">
    <div class="order-info__top-container">
        <span class="order-info__name">{{name}}</span>
    </div>
    <div class="order-info__bottom-container">

    </div>
    <div class="order-info__time-container"></div>
</div>
