.small-card {
    width: 335px;
    height: 100px;

}

.big-card {
    width: 760px;
}

.order-card {
    background-color: var(--color-card-background);
    border-radius: 20px;
    padding: 26px 30px 30px 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-info__top-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.order-info__name {
    font-size: 22px;
}

.order-info__change-btn {
    color: var(--color-highlight);
    padding-top: 6px;
}

.order-info__img {
    width: 50px;
    height: 40px;
    margin-right: 10px;
    object-fit: scale-down;
}

.order-info__time-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}
