.info-card{
    display: flex;
    flex-direction: row;
    border: 0.5px solid #E5E2EB;
    border-radius: 24px;
    width: 942px;
    height: 186px; 
    font-size: 24px;
}

.number-edit {
    cursor: pointer;
}

.password-edit {
    cursor: pointer;
    font-size: 15px;
    color: #5E64FF;
}

.info-card__avatar {
    display: flex;
    padding-left: 16px;
    padding-bottom: 6px;
    align-items: flex-end;
}

.avatar__border {
    display: flex;
    width: 176px;
    height: 176px;
    overflow: hidden;
    border-radius: 50%;
    justify-content: center;
}

.avatar__img {
   display: inline-block;
   width: 176px;
   height: auto;
}

.avatar-edit {
    cursor: pointer;
    width: 16px;
    height: 20pxpx;
    margin-bottom: 16px;
}

.info-card__number {
    color: #999AAD;
}

.info-card__data {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 38px;
    gap: 16px;
    justify-items: center;
}
