<div class="info-card">
    <div class="info-card__avatar">
        <img src="http://localhost:8096/static/images/{{imgSrc}}" alt="">
    </div>
    <div class="info-card__data">
        <div class="info-card__login">
            {{login}}
        </div>
        <div class="info-card__number">
            {{number}}
            <img src="./static/images/edit-icon.svg" alt="" class="number-edit">
        </div>
        <span class="password-edit">Изменить пароль</span>
    </div>
</div>
