<div class="info-card">
    <div class="info-card__avatar">
        <div class="avatar__border">
            <img src="https://www.zuzu-market.ru/static/images/{{imgSrc}}" alt="" class="avatar__img">
        </div>
        <img src="./static/images/edit-icon.svg" alt="" class="avatar-edit">
    </div>
    <div class="info-card__data">
        <div class="info-card__login">
            {{login}}
        </div>
        <div class="info-card__number">
            {{number}}
            <img src="./static/images/edit-icon.svg" alt="" class="number-edit">
        </div>
        <span class="password-edit">Изменить пароль</span>
    </div>
</div>
