.product-card {
    display: flex;
    flex-direction: column;
    width: 196px;
    height: 338px;
    border-radius: 16px;
    background: var(--color-card-background);
}

.product-card__reviews {
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    padding-left: 16px;
}

.product-card__reviews-link {
    display: flex;
    flex-direction: row;
}

.product-card__img-place {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 120px;
    padding: 0 10px 0 10px;
}

.product-card__img {
    max-width: 170px;
    max-height: 120px;
}

.product-card__name {
    margin-top: 12px;
    padding-left: 16px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-card__rate {
    display: flex;
    align-items: center;
    gap: 4px;
}

.product-card__rate__text {
    color: var( --color-highlight);
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.product-card__price {
    display: flex;
    padding-left: 16px;
    width: 100%;
    margin-top: 20px;
}

.product-card__price-value {
    color: var(--color-headline);
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.product-card__button_size_in-cart {
    margin-top: 22px;
    gap: 10px;
    width: 164px;
    margin-left: auto;
    margin-right: auto;
}

.product-card__reviews-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-card__count-reviews {
    padding-right: 20px;
    text-wrap: nowrap;
    font-size: 12px;
}
