<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">
    <link rel='stylesheet' href='style.css'>
    <title>Zuzu</title>
</head>
<body>
    <div id="root">
        <div id="container-main"></div>
    </div>
</body>
</html>
