@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 300px) {
    html {
        font-size: calc(0.3vw + 0.7vh);
        height: 100%;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 12px;
        height: 100%;
    }
}

body {
    overflow: hidden;
}


#container-main {
    height: 100%;
}

#root {
    display: grid;
    grid-template-rows: auto 1px;
    height: 100vh;
}

.main-area {
    height: 100%;
}


:root {
    --color-secondary: #34D1BF;
    --color-highlight: #5E64FF;
    --color-card-background: #FFFFFE;
    --color-background: #F5F5FF;
    --color-headline: #181818;
    --color-paragraph: #2E2E2E;
    --color-button-text: #F5F5FF;
    --color-background-auth: #EEEFFF;
    --color-background-header: #FFFFFE;
    --color-incorrect: #ED7777;;
    --color-correct: #18D988;
    --color-stroke: #a5a5b3;
    --color-warning: rgb(237, 197, 105);
    font-family: 'Lato', sans-serif;
}



@keyframes errorSurface {
    from {
        opacity: 100%;
    }

    40% {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

.msg-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 15%;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
}

.warning-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10%;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
}

.server-msg {
    text-align: center;
    margin-top: 20px;
    width: auto;
    color: var(--color-background); 
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    animation-name: errorSurface;
    animation-duration: 5100ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    background-color: var(--color-correct);
    font-size: 1.5rem;
}

.warning-message {
    text-align: center;
    margin-top: 20px;
    width: auto;
    color: var(--color-background); 
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: var(--color-correct);
    font-size: 1.5rem;
    background-color: var(--color-warning);
}

.server-error {
    background-color: var(--color-incorrect);
}

.error {
    color: var(--color-incorrect);
}
