@import './src/components/button/button.css';
@import './src/components/header/header.css';
@import './src/components/link/link.css';
@import './src/components/input/input.css';
@import './src/components/searchForm/searchForm.css';
@import './src/components/productCard/productCard.css';
@import './src/components/carousel/carousel.css';
@import './src/pages/main-page/main-page.css';
@import './src/pages/login-page/login-page.css';
@import './src/pages/signup-page/signup-page.css';
@import './src/components/loginForm/loginForm.css';
@import './src/components/signupForm/signupForm.css';

@font-face {
    font-family: Lato, sans-serif;
    src: url("./static/fonts/Lato/Lato-Regular.woff2") format("woff2"),
         url("static/fonts/Lato/Lato-Regular.woff") format("woff");
    font-style: normal;
    font-display: fallback;
}

html, body {
    height: 100%;
    overflow: scroll;
}

* {
    margin: 0;
    padding: 0;
    --color-secondary: #18D9C8;
    --color-highlight: #5E64FF;
    --color-card-background: #F5F5FF;
    --color-background: #FFFFFE;
    --color-headline: #181818;
    --color-paragraph: #2E2E2E;
    --color-button-text: #F5F5FF;
    --color-background-auth: #EEEFFF;
    --color-background-header: #FBF9FF;
    --color-incorrect: #ED7777;;
    --color-correct: #18D988;
    font-family: Lato, sans-serif;
}

@keyframes errorSurface {
    from {
        opacity: 0%;
    }

    10% {
        opacity: 100%;
    }

    40% {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

#server-error {
    color: var(--color-background);
    position: absolute;
    left: 50%;
    bottom: 20%;
    background-color: var(--color-incorrect);
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    animation-name: errorSurface;
    animation-duration: 4100ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
