@import './src/components/button/button.css';
@import './src/components/header/header.css';
@import './src/components/link/link.css';
@import './src/components/input/input.css';
@import './src/components/searchForm/searchForm.css';
@import './src/components/productCard/productCard.css';
@import './src/components/carousel/carousel.css';
@import './src/pages/main-page/main-page.css';
@import './src/pages/login-page/login-page.css';
@import './src/pages/signup-page/signup-page.css';
@import './src/components/loginForm/loginForm.css';
@import './src/components/signupForm/signupForm.css';

html, body {
    height: 100%;
    overflow: scroll;
}

* {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
}
