#orders-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
    background-color: var(--color-background);
    min-height: 100vh;
    padding-top: 3rem;
}

.orders-container {
    margin-top: 20px;
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: minmax(50rem, 80rem);
}

@media (min-device-width: 320px) and (max-device-width: 568px) {
    .orders-container {
        margin: 20px 20px;
        display: grid;
        grid-template-columns: 1fr;
    }

    #orders-page {
        padding-top: 3rem;
    }

}
