#orders-page {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
    background-color: var(--color-background);

}

.orders-container {
    margin-top: 20px;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: minmax(50rem, 80rem);
}
