.stars-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.stars-input__name {
    font-size: 1.5rem;
}

.stars-input__error-place {
    color: var(--color-incorrect);
}

.stars-input__star {
    min-height: 26px;
}

@media (min-device-width: 320px) and (max-device-width: 568px) {
    .stars-input {
        grid-template-columns: 2fr 3fr;
    }

    .stars-input__error-place {
        grid-column: span 2;
    }
    
    .stars-input__star {
        min-height: 20px;
    }
} 
