a {
    text-decoration: none;
    color: var(--color-headline);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.link_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link_icon__img{
    width: 2rem;
    height: 2rem;
}

.link_disabled {
    cursor: not-allowed;
}
