a {
    text-decoration: none;
    color: var(--color-headline);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.link_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link_icon__img{
    width: 2rem;
    height: 2rem;
}

.link_disabled {
    cursor: not-allowed;
}

@media (min-device-width: 320px) and (max-device-width: 568px) {
    .link_icon__img{
        width: 3rem;
        height: 3rem;
    }

    .link_icon {
        font-size: 2rem;
        gap: 4px;
    }

    a {
        font-size: 1.7rem;
    }
}