<form class="password-edit-form" id="password-edit-form" method="post" novalidate>
    <div class="info-edit-form__old-password"></div>
    <div class="info-edit-form__new-password"></div>
    <div class="info-edit-form__repeat-password"></div>
</form>
