.catalog {
    position: absolute;
    top: 10%;
    right: 1%;
    bottom: 1%;
    background-color: var(--color-card-background);
    left: 1%;
    position: fixed;
    padding: 50px 100px 70px 100px;
    border-radius: 16px;
    box-shadow: 0 1px 4px var(--color-stroke);
    overflow-y: scroll;
}

.catalog-title {
    /* font-size: 36px; */
    font-size: 3.6rem;
}

.category-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}

.category-child {
    margin-left: 10%;
    margin-bottom: 10px;
}

.category-leaf {
    margin-left: 20%;
    margin-bottom: 10px;
}

.category-leaf, .category-child, .category-parent {
    font-size: 24px;
}

.child-text {
    color: var(--color-stroke);
}

.category-parent {
    /* font-size: 16px; */
    padding: 20px 30px 20px 0px;
    margin-right: 30px;
    /* margin-bottom: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}