.catalog {
    position: absolute;
    top: 6%;
    right: 0%;
    bottom: 0%;
    background-color: var(--color-card-background);
    left: 0%;
    position: fixed;
    padding: 8rem 8rem 6rem 8rem;
    overflow-y: scroll;
}

.catalog::-webkit-scrollbar {
    display: none;
  }

.catalog-title {
    font-size: 3.6rem;
}

.category-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.category-child {
    margin-bottom: 0.8rem;
    pointer-events: none;
    color: var(--color-headline);
}

.category-leaf {
    margin-left: 8rem;
    margin-bottom: 0.8rem;
    color: var(--color-stroke);
}

.category-leaf, .category-child, .category-parent {
    font-size: 2rem;
}

.category-leaf:hover {
    color: var(--color-headline);
}

.category-parent {
    padding: 1.6rem 2.5rem 1.6rem 0;
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
