#profile-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #FBF9FF;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 9.5rem;
}

#profile__card {
    height: 100%;
}

.title_size_l {

    font-size: 3rem;
    color: #181818;

}

.title_size_m {
    font-size: 2.7rem;
    color: #181818;
}

@media (min-device-width: 320px) and (max-device-width: 568px) {
    #profile-main {
        padding-top: 12rem;
    }
}
