<div id="profile-page">
    <div id="profile-header">

    </div>
    <div id="profile-main">
        <span class="title_size_l">
                {{title}}
        </span>
    <div id="profile__card">
        
    </div>
    </div>
</div>
