<div id="cart-page">
    <div class="page-title">Корзина</div>
    <div class="order-container">
        <div class="cart-container">
            <div class="cart-container__management"></div>
            <div class="cart-container__products"></div>
        </div>
        <div class="order-container__support"></div>
    </div>
</div>
