#cart-page {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    align-items: center;
    padding-bottom: 10vh;
    min-height: 100vh;
}

.page-title {
    margin-top: 8rem;
    font-size: 3.3rem;
}

.order-container {
    display: grid;
    grid-template-columns: minmax(50rem, 70rem) 28rem;
    gap: 2rem;
    justify-content: center;
    margin: 2.5rem 10rem 2.5rem 10rem;
    font-size: 1.4rem;
}

.cart-container__products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-device-width: 320px) and (max-device-width: 568px) {
    .order-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        justify-content: center;
        margin: 2.5rem 0;
        font-size: 1.4rem;
        width: 100%;
    }

    #cart-page {
        padding-left: 10px;
        padding-right: 10px;
    }

    .page-title {
        margin-top: 80px;
        font-size: 3.3rem;
    }

}
