#cart-page {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    align-items: center;
    justify-content: center;
}

.page-title {
    margin: 100px 120px 0 120px;
    font-size: 40px;
}

.order-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 120px 30px 120px;
}
