<div class="review-card" id="{{id}}">
    <div class="review-card__top-container">
        <div class="review-card__profile-img-place"></div>
        <div class="review-card__profile-name-place"></div>
        <div class="review-card__date-place"></div>
        <div class="review-card__rate-place"></div>
    </div>
    <div class="review-card__bottom-container">

    </div>
</div>