
<div class="cart-product" id="{{id}}">
    <div class="cart-product__management">
        <div class="cart-product__count-management"></div>
    </div>

    <div class="cart-product__price">
        {{price}}
    </div>
</div>
