.count-management {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    /*justify-content: space-between;*/
}

.count-management__button {
    width: 20px;
    height: 20px;
    background-color: inherit;
}

.count-management__button-right {
    justify-self: end;
}



.count-management__img {
    width: 20px;
    height: 20px;
}

.count-managment__count-value {
    text-align: center;
}

.count-management__big {
    max-width: 150px;
    width: 100%;
    margin: 30px 20px 10px 20px;
}