<div id="reviews-page">
    <div class="reviews-page__product-container"></div>
    <div class="reviews-page__main-container">
        <div class="reviews-page__reviews-container"></div>
        <div class="reviews-page__summary-container"></div>
    </div>    
</div>