#reviews-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 80px 10% 30px 10%;
}

.reviews-page__main-container {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
