<div class="info-row {{class}}" id="{{id}}">
    <div class="info-row__name-container">
        <span class="info-row__text name">{{name}}</span>
    </div>
    <span class="info-row__text value">{{value}}</span>
</div>
