.info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.info-row-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.info-row__name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
