.info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.32rem;
}

.info-row-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.info-row__name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-row__name {
    display: block;
    width: 10.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
