.info-row {
    display: flex;
    flex-direction: row;
    /* display: grid;
    grid-template-columns: 1.5fr 1fr; */
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.info-row-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.info-row__name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* max-width: 60%; */
}

.info-row__name {
    /* width: 40px; */
    /* text-overflow: ellipsis;
    max-width: 12ch; */
    /* width: clamp(10ch, 50%, 75ch); */
    display: block;
  width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info-row__value {
    /* align-self: end; */
}
