<div id="search-page">
    <div class="page-title">Поиск</div>
    <div class="sort-select">
         <select name="sorts" id="sort-select" class="select">
            <option value="popular">по популярности</option>
            <option value="price-asc">по возрастанию цены</option>
            <option value="price-desc">по убыванию цены</option>
            <option value="rating">по рейтингу</option>
        </select>
    </div>
    <div class="search-products-container"></div>
</div>
