.profile {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    background-color: #FFFFFE;
    border-radius: 1.32rem;
}

.profile__nav-list {
    display: flex;
    flex-direction: column;
    width: 22%;
    padding-top: 2rem;
    padding-left: 0.7rem;
    color: #999AAD;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400; 
    line-height: normal; 
    border-right: 0.5px solid #E5E2EB;
}

.nav-elem{
    display: flex;
    height: 5rem;
    flex-direction: column;
    justify-content: center; 
    padding-left: 1.32rem;
    border-radius: 2rem;
    cursor: pointer;
}

.nav-elem_selected {
    background-color: #FBF9FF;
    color: #999AAD;
}

.nav-elem:hover {
    background-color: #34D1BF;
    color: #FFFFFE;
}

.profile__data {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    padding-top: 2.6rem;
    padding-bottom: 1.32rem;
    gap: 2rem;
    overflow-y: auto;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.add-address {
    cursor: pointer;
    font-size: 1.5rem;
    color: #5E64FF;
}
