<div class="profile">
    <div class="profile__nav-list">
        <div class="nav-elem" id="profile-my-data">
            {{navElem1}}
        </div>
        <div class="nav-elem" id="profile-my-addresses">
             {{navElem2}}
        </div>
    </div>
    <div class="profile__data">
        <span class="title_size_m">{{currentNavElem}}</span>
        <div class="card" id="profile-data-card">

        </div>
    </div>
    </span>
</div>
