<div id="review-form">
    <div class="review-form__container">
        <span class="review-form__text">Оставьте отзыв о товаре</span>
        <span class="review-form__text review-form__name">{{productName}}</span>
        <div class="review-form__stars-input"></div>
    </div>
</div>
