#review-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    grid-template-columns: minmax(300px, 600px);
    justify-content: center;
    background-color: rgba(165, 165, 179, 0.3);
    overflow-y: scroll;
}

.review-form__container {
    margin: 100px 0;
    padding: 2rem 4rem;
    opacity: 100%;
    border-radius: 2rem;
    background-color: var(--color-background-header);
    position: relative;
    display: grid;
    gap: 20px;
    max-height: 700px;
}

.review-form__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    height: 3rem;
}

.review-form__close:hover {
    color: var(--color-incorrect);
}

.review-form__text {
    font-weight: 600;
    font-size: 2rem;
}

.review-form__name {
    font-size: 1.5rem;
}

@media (min-device-width: 320px) and (max-device-width: 568px) {
    #review-form {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }
}
