.product  {
    display: grid;
    grid-template-rows: 0.5fr 3fr;
    /* height: 55vh; */
    height: 100%;
    max-width: 2000px;
    max-height: 1200px;
    width: 100%;
    padding: 0 5% 0 5%;
}

.product__data {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.product__img {
    /* max-height: 100%; */
    /* max-height: 700px;
    max-width: 700px; */
    /* width: 100%; */
    height: 300px;
    /* object-fit: scale-down; */
}

.product__img-place {
    /* max-height: 350px; */
    margin-top: 20px;
}

.product__text-place {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__name {
    font-size: 26px;
    padding-bottom: 10px;
}

.product__management {
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: end;
    justify-content: start; */
    padding: 20px 0px 0px 0px;
}

.product__reviews {
    padding-left: 0;
}

.product__info {
    /* margin-bottom: 40px; */
    border-bottom: 1px solid var(--color-stroke);
}

.product__info-rows {
    padding-top: 12px;
    padding-left: 20px;
}

.product__info-row {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}