#signup-page {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-auth);
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 48px;
    padding-top: 64px;
}

.signup-page__logo > img {
    width: 200;
    height: 66px;
}

#root {
    height: 100%;
}
