.category-card {
    display: grid;
    grid-template-columns: 2.4fr 3.2fr 1fr;
    height: 20rem;
    border-bottom: 1px solid var(--color-stroke);
    width: 66vw;
}

.category-card__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 3.6rem 0.8rem 0.8rem 0.8rem;
}

.category-card__name {
    margin-top: 0;
    margin-left: 1.3rem;
}

.category-card__img-place {
    display: flex;
    align-self: center;
    justify-content: center;
}   

.category-card__management {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    padding: 3.6rem 0 3.1rem 0;
}

.category-card__img {
    width: 100%;
    max-height: 18rem;
    min-width: 8rem;
    object-fit: scale-down;
}

.category-card__reviews-link {
    width: 15rem;
}

.category-card__price {
    width: auto;
    padding: 0;
    margin: 0 0.8rem;
    align-self: flex-end;
}

.category-card__price {
    text-align: right;
}
