.category-card {
    display: grid;
    grid-template-columns: 1.4fr 3.5fr 1fr;
    height: 250px;
    border-bottom: 1px solid var(--color-stroke);
    width: 66vw;
}

.category-card__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 44px 10px 10px 10px;
}

.category-card__name {
    margin-top: 0;
    margin-left: 16px;
}

.category-card__img-place {
    display: flex;
    align-self: center;
    justify-content: center;
}   

.category-card__management {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    padding: 44px 0px 38px 0px;
}

.category-card__img {
    height: 180px;
    max-width: 300px;
}

.category-card__reviews-link {
    width: 170px;
}

.category-card__price {
    width: auto;
    padding: 0;
    margin: 0px 10px;
    align-self: flex-end;
}

.category-card__price {
    text-align: right;
}


