.category-card {
    display: grid;
    grid-template-columns: 2.4fr 3.2fr 1fr;
    height: 20rem;
    border-bottom: 1px solid var(--color-stroke);
    width: 66vw;
}

.category-card__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 3.6rem 0.8rem 0.8rem 0.8rem;
}

.category-card__name {
    margin-top: 0;
    margin-left: 1.3rem;
}

.category-card__img-place {
    display: flex;
    align-self: center;
    justify-content: center;
}   

.category-card__management {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    padding: 3.6rem 0 3.1rem 0;
}

.category-card__img {
    width: 100%;
    max-height: 18rem;
    min-width: 8rem;
    object-fit: scale-down;
}

.category-card__reviews-link {
    width: 15rem;
}

.category-card__price {
    width: auto;
    padding: 0;
    margin: 0 0.8rem;
    align-self: flex-end;
}

.category-card__price {
    text-align: right;
}

@media (min-device-width: 320px) and (max-device-width: 568px) {
    .category-card {
        display: flex;
        flex-direction: column;
        height: 25%;
        width: 100%;
        border-radius: 1.2rem;
        background: var(--color-card-background);
        padding-bottom: 1.4rem;
        justify-content: center;
    }
    
    .star-icon__img {
        width: 30%;
    }
    
    .product-card__reviews {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        padding-left: 1.3rem;
    }
    
    .product-card__reviews-link {
        display: flex;
        flex-direction: row;
    }
    
    .category-card__img-place { 
        margin-top: 1.3rem;
        margin-left: auto;
        margin-right: auto;
        width: 14rem;
        height: 10rem;
        padding: 0 0.7rem;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .category-card__img {
        max-height: 10rem;
        width: 13rem;
        object-fit: scale-down;
    }
    
    .category-card__name {
        margin-top: 0.8rem;
        padding-right: 0.5rem;
        padding-left: 1rem;
        height: 2.8rem;
        width: 13rem;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5rem;
        display: -moz-box;
        display: -webkit-box;
        -moz-line-clamp: 2;
        -moz-box-orient: vertical;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    
    .category-card__rate {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }
    
    .category-card__rate__text {
        color: var( --color-highlight);
        font-size: 1rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    
    .category-card__price {
        display: flex;
        padding-left: 1.3rem;
        margin-top: 1.2rem;
    }
    
    .category-card__price-value {
        color: var(--color-headline);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .category-card__button_size_in-cart {
        margin-top: 1.8rem;
        gap: 0.8rem;
        width: 13rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .category-card__reviews-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .category-card__count-reviews {
        padding-right: 1.6rem;
        text-wrap: nowrap;
        font-size: 1rem;
    }
}