.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 4px; */
    gap: 0.3rem;
    width: 100%;
}
/* 
@media screen and (max-width: 600px) {
    .search-form {

        display: none;
    }

} */

.search-form__button_size_search {
    /* width: 38px; */
    width: 3.1rem;
}

.serch-form__input {
    /* width: 600px; */
    width: 100%;
}
