.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
}

.search-form__button_size_search {
    width: 3.1rem;
}

.serch-form__input {
    width: 100%;
}

.container-search-form {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.container-suggest {
    position: absolute;
    top: 5rem;
    display: flex;
    width: 46.7rem;
}

@media (min-device-width: 320px) and (max-device-width: 568px) {
    .container-suggest {
        width: 20.5rem;
    }
}
