.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
}

.search-form__button_size_search {
    width: 3.1rem;
}

.serch-form__input {
    width: 100%;
}
